@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(126,123,189);
  --color-font: #53045e; 
  --color-container: #f1e8f0;
  --color-button-1: #d79ddf;
  --color-button-2: #8b117d;
  --white: #fff;
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 480px;
  margin: 50px auto;
  background: var(--color-container);
  padding: 20px;
  border-radius: 10px;
}

.container__title {
  color: var(--color-font);
}

.container__info {
  font-size: 16px;
  color: var(--color-font);
}

.label {
  font-size: 18px;
  color: var(--color-font);
}

.form__input {
  border-radius: 8px;
  border: none;
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
  margin-bottom: 20px;
}

.form__button {
  border-radius: 10px;
  border: none;
  background-color: var(--color-button-1);
  color: var(--white);
  width: 60%;
  padding: 10px 40px;
  font-size: 18px;
  margin-left: 9.7rem;
  cursor: pointer;
  text-decoration: none;
}

.form__button:hover {
  background-color: var(--color-button-2);
}

form input, form label, form button {
  display: block;
  width: 100%;
}

.error-text {
  font-size: 12px;
  color: red;
}